$main = #283135
$second = #686E72
$primary = #52C136
$primary-light = #E5F6E1
$gray = #949494
$light-gray = #f4f4f4

$error = $primary

$red = #ED3131
$blue = #2877D2
$green = #10A127

// socials
$vk = #507299
$ok = #f58220
$facebook = #3b5998
$twitter = #00aced
$insta = #517fa4
$youtube = #bb0000
$vimeo = #45bbff
$myworld = #0451a0

$sunmedia = #1477FB

$border = 1px solid #DBE1E9
$radius = 4px
$bezier = cubic-bezier(.7, 0, .3, 1)
// $main-padding = 8rem 0
// $main-offset = 14rem
// $main-offset = (120 / 1080 * 100)vh
$main-offset = 12rem
$padding = 8rem

$font = 'Gordita', 'Arial', 'Helvetica', sans-serif


