p
  color $second
  display block
  font-size 1.8rem
  line-height (28 / 18)
  margin-bottom 1em
  // margin-bottom 1.8rem
  margin-top 0
  & + p
    margin-bottom 1.8rem
  a
    color $primary !important
  .link
    display inline

h1, .h1
  font-family $font
  font-size 4rem
  font-weight 600
  line-height (48 / 40)
  margin-bottom .5em
  margin-top 0

h2, .h2
  font-family $font
  font-size 4rem
  font-weight 600
  line-height (48 / 40)
  margin-top 0
  margin-bottom .7em

h3, .h3
  font-family $font
  font-size 3.2rem
  font-weight 600
  line-height (40 / 32)
  margin-bottom .75em
  margin-top 0

ul
  padding-left 0
  li
    display block
    font-size 1.8rem
    font-weight 300
    // margin-bottom 3.2rem
    line-height 1.4
    margin-bottom 1em
    margin-left 0
    position relative
    vertical-align top
    &:before
      background-color $primary
      border-radius 50%
      circle(.4rem)
      content ''
      display block
      left -2.4rem
      line-height 1
      position absolute
      top .5em

ol
  counter-reset item
  margin-left 0
  padding-left 3.2rem

// li
//   display block
//   font-size 1.8rem
//   font-weight 300
//   line-height 1.6
//   margin-bottom 3.2rem
//   margin-left 2em
//   position relative
//   vertical-align top
  // &:before
  //   display inline-block
  //   content counter(item) ". "
  //   counter-increment item
  //   font-family $font-secondary
  //   font-size 6.4rem
  //   left -6.4rem
  //   line-height 1
  //   position absolute
  //   top -2rem

.text-center
  text-align center

@media(max-width 1200px)
  h1, .h1
    font-size 3.2rem
  h2, .h2
    font-size 3.2rem

@media(max-width 767px)
  h1, .h1
    font-size 2.8rem
  h2, .h2
    font-size 2.8rem
  h3, .h3
    font-size 2rem
  p
    font-size 1.4rem
  ul
    li
      // margin-bottom 1em
      &:before
        left -1.2rem